<% if params[:controller] == 'posts' || params[:controller] == 'categories' || params[:controller] == 'about' || params[:controller] == 'contacts' %>

    <div class="list-group">
      <% @categories.each do |category| %>
          <%= link_to category.name, category_path(category.id), class: 'list-group-item' %>
          <!--<a class="list-group-item">News</a>-->
      <% end %>
    </div>
<% end %>