<div class="well">
  <h2 class="page-header">About Us</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae non, asperiores voluptatum in magnam inventore, deserunt tempora eius iure, mollitia velit necessitatibus ipsam natus vitae placeat commodi, cum quia ducimus modi omnis odio odit. Earum ad rerum delectus neque sit qui tempora facere, doloribus accusantium provident cupiditate, obcaecati porro voluptates.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae non, asperiores voluptatum in magnam inventore, deserunt tempora eius iure, mollitia velit necessitatibus ipsam natus vitae placeat commodi, cum quia ducimus modi omnis odio odit. Earum ad rerum delectus neque sit qui tempora facere, doloribus accusantium provident cupiditate, obcaecati porro voluptates.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae non, asperiores voluptatum in magnam inventore, deserunt tempora eius iure, mollitia velit necessitatibus ipsam natus vitae placeat commodi, cum quia ducimus modi omnis odio odit. Earum ad rerum delectus neque sit qui tempora facere, doloribus accusantium provident cupiditate, obcaecati porro voluptates.
  </p>
</div>
